.flex-center-row {
    display: flex;
    flex-direction: row;
    /* border: 1px solid red; */
    align-items: center;
  }
.header {
    margin: 20px 20px;
}
.logo {
    height: 65px;
}
.headerText {
    font-size: 28px;
    margin-left: 15px;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    height: 20rem;
}

.hamburgerPic {
    height: 69px;
    width: auto;
    margin-bottom: 30px;
}

