* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #8EC276;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.text-white {
  color: #ffffff;
}

.text-black {
  color: #4b4b4b;
}
